@import 'tailwindcss';

@import "flowbite-vue/index.css";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite-vue/**/*.{js,jsx,ts,tsx,vue}";
@source "../node_modules/flowbite/**/*.{js,jsx,ts,tsx}";

@source inline('{text,border,bg,ring}-base-{50,{50..350..50},350}');
@source inline('{text,border,bg,ring}-{red,orange,green,blue,cyan,purple,yellow}-{light,dark}');
@source inline('{border-r,border-t}-{green,orange,red}-light');

@theme {
  --color-base-50: #cccddc;
  --color-base-100: #8d8f9a;
  --color-base-150: #313133;
  --color-base-200: #2e3136;
  --color-base-250: #262626;
  --color-base-300: #181b1e;
  --color-base-350: #101217;
  --color-base-400: #0b0c0f;
  --color-green-light: #72be68;
  --color-green-dark: #3e593b;
  --color-orange-light: #ff9830;
  --color-orange-dark: #825629;
  --color-red-light: #f1485b;
  --color-red-dark: #6b2f37;
  --color-blue-light: #5794f2;
  --color-blue-dark: #344a6c;
  --color-cyan-light: #70e0e7;
  --color-cyan-dark: #305557;
  --color-purple-light: #ae56ff;
  --color-purple-dark: #4d3966;
  --color-yellow-light: #ffff5c;
  --color-yellow-dark: #666600;

  --font-inter: Inter, sans-serif;
  --breakpoint-3xl: 104rem;
  --breakpoint-4xl: 112rem;
}

@layer components {
  .card {
    @apply bg-base-300 flex flex-col gap-3 rounded-xl p-3;
  }
}
