name: Deploy Development

on:
  push:
    branches:
      - main
  workflow_dispatch: 

jobs:
  deploy:
    if: ${{ github.ref == 'refs/heads/main' }}
    uses: ./.github/workflows/deploy.yml
    permissions:
      id-token: write
      contents: read
    secrets: inherit
    with:
      environment: dev
      invalidate-cache: false
