name: Deploy Frontend
on:
  push:
    branches:
    - main
  workflow_dispatch:
permissions:
  id-token: write
  contents: read
jobs:
  deploy:
    name: Deploy to S3 bucket
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v5
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v5
      with:
        role-to-assume: ${{ vars.ROLE_ARN }}
        aws-region: ${{ vars.AWS_REGION }}
    - name: List files
      run: ls -lRa
    # - name: Retrieve S3 bucket ARN
    #   id: get-bucket
    #   run: |
    #     BUCKET_NAME=$(aws ssm get-parameter --name ${{ vars.SSM_BUCKET_NAME }} --query "Parameter.Value" --output text)
    #     echo "name=$BUCKET_NAME" >> "$GITHUB_OUTPUT"
    # - name: Sync S3 bucket
    #   run: aws s3 sync . "s3://${{ steps.get-bucket.outputs.name }}" --delete
