name: Deploy Production

on:
  push:
    branches:
      - main
permissions:
  id-token: write
  contents: read
jobs:
  deploy:
    uses: ./.github/workflows/deploy.yml
    permissions:
      id-token: write
      contents: read
    with:
      environment: Production
    secrets:
      role-arn: ${{ vars.ROLE_ARN }}
