name: Deploy Frontend
on:
  push:
    branches:
    - main
permissions:
  id-token: write
  contents: read
jobs:
  deploy:
    name: Deploy to S3
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v5
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v5
      with:
        role-to-assume: ${{ vars.ROLE_ARN }}
        aws-region: ${{ vars.AWS_REGION }}
    - name: Retrieve S3 bucket ARN
      id: bucket-arn
      run: |
        BUCKET_ARN=$(aws ssm get-parameter --name ${{ vars.SSM_BUCKET_NAME }} --query "Parameter.Value" --output text)
        echo "bucket-arn=$BUCKET_ARN" >> "$GITHUB_OUTPUT"
